body {
  background-color: #005387;
}

#logo {
  float: right;
  width: 100px;
  height: 75px;
}

#site_name {
  font-size: -webkit-xxx-large;
  font-size: x-large;
  margin-left: 536px;
}

#admin {
 margin-left: 572px;
}
#admin a {
color: rgb(64, 208, 54);
}

#header {
  width: 400px;
  height: 75px;
  float: left;
}

#main_menu {
  margin-left: 400px;
}

#page-wrapper {
  padding-top: 50px;
}

#content {
  float: right;
  width: 700px;
  margin-right: 250px;
  margin-left: 250px;
  margin-top: -251px;
}

#left_sidebar_first {
    float: left;
    width: 200px;
}
#right_sidebar_second {
    float: right;
    width: 200px;
}

#footer {
  padding-top: 25px;
  padding-left: 250px;
}

#sidebar_second {
  float: right;
  margin-top: -644px;
}  
